<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landom Hotel</title>
</head>
<body>
    <table>
        <tr>
            <td>Room Number</td>
            <td>Room Name</td>
            <td>Bed Info</td>
        </tr>
        <tr th:each="room:${rooms}">
            <td th:text="${room.number}">Room Number</td>
            <td th:text="${room.name}">Room Name</td>
            <td th:text="${room.info}">Bed Info</td>
        </tr>
    </table>
</body>
</html>